[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
python-dotenv = "*"
llama-index = "*"
transformers = "*"
psycopg2-binary = "*"
pgvector = "*"
asyncpg = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
greenlet = "*"
pypdf = "*"
cryptography = "*"
torch = "*"
tiktoken = "*"
petname = "*"

[dev-packages]

[requires]
python_version = "3.9"
